.mapboxgl-popup {
  p, a {
    color: #333;
    display: none;
    font-size: 15px;
    line-height: 16px;
    margin: 10px 0;
    overflow-wrap: break-word;

    @include bp(m) {
      display: flex;
    }
  }
}
