*, *:before, *:after {
  box-sizing: border-box;
}

.map-sidebar-container {
  display: flex;
  flex-direction: column;

  @include bp(m) {
    flex-direction: row;
  }

  .search-filter-container {
    background-color: #4a4a50;
    height: 130px;
    margin: 0;
  }
  
  .search {
    height: 80px;
    padding: 10px;
    position: absolute;
    width: 35vw;
  
    .temp {
      background-color: white;
      border: 6px solid #27c375;
      color: #7B8585;
      font-size: 15px;
      height: 50px;
      padding: 10px 12px;
    }
  }

  .filter {
    height: 80px;
    padding: 10px;
    position: absolute;
    width: 35vw;
  
    .temp {
      background-color: white;
      border: 6px solid #27c375;
      color: #7B8585;
      font-size: 15px;
      height: 50px;
      padding: 10px 12px;
      position: relative;
      top: 60px;
    }
  }
}
