*, *:before, *:after {
  box-sizing: border-box;
}

.map-sidebar-container {
  display: flex;

  @media (max-width: 800px) {
      flex-direction: column;
    }

  .sidebar {
    background-color: white;
    height: 100vh;
    overflow: scroll;
    width: 35vw;

    @media (max-width: 800px) {
      height: 45vh;
      width: 100vw;
      border-top: 2px solid black;
    }
  }
    
  .takeout {
    border-bottom: 2px solid #404442;
    cursor: pointer;
    margin-left: 0;
    padding: 1rem 1rem 1rem 2rem;
  
    h3 {
      // color: #27c375;
      color: #404442;
      font-size: 1.8rem;
      margin-bottom: 12px;
      margin-top: 0;
    }
  
    p {
      // color: white;
      color: #404442;
      margin-bottom: 4px;
      margin-top: 8px;
    }
  
    a {
      // color: #abb7b1;
      color: #404442;
      display: block;
      margin-top: 20px;
    }
  }
  
  .takeout:hover {
    background-color: #27c375;
  }
}
