.takeout-list {
  background-color: white;
  border-top: 2px solid black;
  height: 45vh;
  overflow: scroll;
  width: 100vw;

  @include bp(m) {
    border-top: 0 solid black;
    height: calc(100vh - 180px);
    width: 35vw;
  }

  .takeout {
    border-bottom: 2px solid #404442;
    cursor: pointer;
    margin-left: 0;
    padding: 1rem;
    overflow: hidden;

    @include bp(s) {
      padding: 1rem 1rem 1rem 2rem;
    }

    h3 {
      // color: #27c375;
      color: #404442;
      font-size: 1.4rem;
      margin: 0 0 6px 0;

      @include bp(s) {
        font-size: 1.6rem;
        margin: 0 0 9px 0;
      }

      @include bp(m) {
        font-size: 1.8rem;
        margin: 0 0 12px 0;
      }
    }

    p {
      // color: white;
      color: #404442;
      margin: 0;

      @include bp(s) {
        margin: 4px 0;
      }

      @include bp(m) {
        margin: 8px 0 4px;
      }
    }

    a {
      // color: #abb7b1;
      color: #404442;
      display: block;
      margin: 6px 0 0 0;

      @include bp(m) {
        margin: 20px 0 0 0;
      }
    }
  }

  .takeout:hover {
    background-color: #27c375;
  }
}